.satu {
  width: 600px;
  height: 300px;
  background: radial-gradient(ellipse, red, blue);
}

.dua {
  width: 600px;
  height: 300px;
  background: radial-gradient(circle, red, blue);
  margin: 5px;
}

.tiga {
  width: 600px;
  height: 300px;
  background: radial-gradient(circle closest-side, red, blue);
  margin: 5px;
}
.empat {
  width: 600px;
  height: 300px;
  background: radial-gradient(circle farthest-side, red, blue);
  margin: 5px;
}
.lima {
  width: 600px;
  height: 300px;
  background: radial-gradient(circle farthest-side at top left, red, blue);
  margin: 5px;
}
.enam {
  width: 600px;
  height: 300px;
  background: radial-gradient(circle farthest-corner at center left, red, blue);
  margin: 5px;
}
